html{
    height:100%;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000055;
}

.container {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.up_left_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(-480px,-310px);
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.up_left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(-180px,-310px);
    overflow: hidden;
}
.up_right_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(480px,-310px);
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.up_right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(180px,-310px);
    overflow: hidden;
}
.down_right_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(480px,310px);
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.down_right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(180px,310px);
    overflow: hidden;
}
.down_left_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(-480px,310px);
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.down_left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(-180px,310px);
    overflow: hidden;
}
.left_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(-660px,0px);
    border-radius: 50%;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(-360px,0px);
    overflow: hidden;
}
.right_title {
    height: 200px;
    width: 300px;
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#000000;
    transform : translate(660px,0px);
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
.right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFFFF;
    color:#0000FF;
    transform : translate(360px,0px);
    overflow: hidden;
}
.outer_circle{
    height: 1200px;
    width: 1200px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0099FF;
}

