html{
    height:100%;
}
body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000055;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    height: 50px;
    width: 200px;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#00FFFF;
    top : 0;
    transform : translate(0px,20px);

}
.center_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
}
button:hover {
    transform: scale(1.2);
  }
.up_left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(-150px,-260px);
}
.up_right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(150px,-260px);
}
.down_right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(150px,260px);
}
.down_left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(-150px,260px);
}
.left_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(-300px,0px);
}
.right_circle {
    height: 250px;
    width: 250px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFFF00;
    transform : translate(300px,0px);
}
.outer_circle{
    height: 1200px;
    width: 1200px;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0000FF;
}

